user disty;
daemon off;
pid /run/nginx.pid;
pcre_jit on;

include /etc/nginx/conf.d/*.conf;
include /etc/nginx/modules/*.conf;
include /config/nginx/conf.d/worker_processes.conf;

error_log /config/log/nginx/error.log;

events {
    worker_connections 1024;
}

http {
    default_type application/octet-stream;

    # Sets the path, format, and configuration for a buffered log write.
    log_not_found off;
    access_log /dev/stdout;

    include /etc/nginx/mime.types;
    include /config/nginx/conf.d/resolver.conf;

    # Includes virtual hosts configs.
    include /etc/nginx/http.d/*.conf;
    include /config/nginx/site-confs/*.conf;

    variables_hash_max_size 1024;
    variables_hash_bucket_size 512;

    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    server_tokens off;
    client_max_body_size 0;
    client_body_buffer_size 512k;

    gzip on;
    gzip_vary on;
    gzip_types *;
    gzip_proxied any;
    gzip_comp_level 1;
    gunzip on;
    gzip_static on;

    # Helper variable for proxying websockets.
    map $http_upgrade $connection_upgrade {
        default upgrade;
        '' close;
    }

    # increase max execution time limit for php scripts
    fastcgi_read_timeout 600;
    fastcgi_send_timeout 600;
    fastcgi_buffers 64 4K;

    fastcgi_hide_header X-Powered-By;

    proxy_read_timeout 600;
    proxy_send_timeout 600;
    proxy_connect_timeout 600;
    proxy_headers_hash_max_size 1024;
    proxy_headers_hash_bucket_size 512;

    # Real IP Determination
    real_ip_recursive on;
    set_real_ip_from 10.0.0.0/8;
    set_real_ip_from 172.16.0.0/12;
    set_real_ip_from 172.20.0.0/16;
    set_real_ip_from 192.168.0.0/16;
    set_real_ip_from 169.254.0.0/16;
    set_real_ip_from fc00::/7;
    set_real_ip_from fec0::/10;
}